# Calculation Of Cosine Similarity In User Base CSV (Reading file)

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity as cs
data=pd.read_csv("u5base.csv")
data.columns=['user']
df=data['user'].str.split('\t',expand=True)
df.columns=['user','itemid','rating','timestamp']
df.drop(columns=['timestamp'],inplace=True)
#df.head()
arr=df.to_numpy()
#arr.shape
arr=np.transpose(arr)
#arr.shape
#arr
ar=np.empty((1000,1700))

# 2d array of user and items where ratings are stored

In [3]:
for i in range(0,79999):
    m=arr[0,i]
    n=arr[1,i]
    ar[int(m)-1,int(n)-1]=arr[2,i]

In [4]:
ar[0,0]=5
# Dataframe did not read the first row of csv file so I wrote it manually into my 2d array of user vs item.

In [5]:
itemsim=cs(ar.T)
print(itemsim)
# cosine similarity matrix (Transpose for item based)

[[1.         0.32902862 0.27977306 ... 0.         0.         0.        ]
 [0.32902862 1.         0.25761214 ... 0.         0.         0.        ]
 [0.27977306 0.25761214 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

# User test file

In [6]:
testdata=pd.read_csv("u5test.csv")
testdata.columns=['user']
dff=testdata['user'].str.split('\t',expand=True)
dff.columns=['user','itemid','rating','timestamp']
dat=[]
dat.insert(0, {'user': 1,'itemid':3, 'rating':4, 'timestamp':235})
dff=pd.concat([pd.DataFrame(dat), dff],ignore_index=True)
dff.drop(columns=['timestamp'],inplace=True)
#dff.head()

In [8]:
dff

      user itemid rating
0        1      3      4
1        1     13      5
2        1     15      5
3        1     18      4
4        1     19      5
...    ...    ...    ...
19995  943   1028      2
19996  943   1044      3
19997  943   1047      2
19998  943   1228      3
19999  943   1330      3

[20000 rows x 3 columns]

In [9]:
diffsum=0
for i in range(0,20000):
    item=dff['itemid'].values[i]
    

    fuser=dff['user'].values[i]
   # print(fuser)
    mydict=dict()

    for k in range(0,1700):
        mydict[k]=itemsim[int(item)-1,k]
   
    game=sorted(mydict.items(),key=lambda kv:(kv[1], kv[0]),reverse=True)
    bestones=dict(game)
   # diffsum=0
    
    count=0
    numer=0;
    finale=0;
    sumsim=0
    for lockey in bestones.keys():
        if(ar[int(fuser)-1,lockey]!=0):
            sumsim=sumsim+itemsim[int(item)-1,lockey]
            numer=numer+(itemsim[int(item)-1,lockey]*ar[int(fuser)-1,lockey])
            count=count+1
        if(count==30 and sumsim!=0):
            break
    
    if(numer!=0):
        
        finale=(numer/sumsim)
        diffsum=diffsum+(abs(int(dff['rating'].values[i])-finale))
        #print(diffsum,dff['rating'].values[i],finale)
       
        
    else:
        finale=0
        diffsum=diffsum +(abs(int(dff['rating'].values[i])-finale))
print(diffsum)
        
print(diffsum/20000)

15499.941306804638
0.7749970653402319

In [97]:
sam=0.7974215891035076+0.7824073944582755+0.7736945202020485+0.78008132367696+0.7868185052586841 
ans=(sam/5)
ans

0.7840846665398951